
.cardMainPost{
    background-color: white;
}

@media only screen and (min-width: 10px) and (max-width: 767px){
      #column-H4, #column-P1, #column-P2, #main__column-3P{
        display: none;
      }
}
#logo_Dev
{
    @media only screen and (min-width: 10px) and (max-width: 767px){
        display: none;
    }
}
#spanDev
{
    @media only screen and (min-width: 10px) and (max-width: 640px){
        display: none;
    }
}
#barraSuperior
{
    @media only screen and (min-width: 10px) and (max-width: 767px){
       display: flex;
       justify-content: end;
    }
}
#formPost
    {
        @media only screen and (min-width: 10px) and (max-width: 767px){
            width: 100%;
         }
    }

@media only screen and (min-width: 770px) and (max-width: 3000px){
    #formPost
    {
        display: flex;
        justify-content: center;
        width: 70%;
        height: 50%;
    }
    #main__column-3P
    {
        width: 10%;
    }
    #barraSuperior
    {
        display: flex;
        justify-content: start;
    }
    #cerrar
    {
        width: 30%;
    }
 }
